/* Name: Ishman Virk, 
ID: 
 */
/* ------------------------ */

html {
    font: small-caps bold 20px/1.5 "Times New Roman", serif;
    background-color: #f0f0f0;
}

/* Body: set max-width, center with margin auto, add padding and border, and background-color */
body {
    max-width: 900px;
    margin: auto;
    padding: 0.2rem;
    border: 0.2rem solid #ccc;
    background-color: #f0f0f0;
}

/* reset default margins/padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main layout: two columns side by side */
main {
  overflow: hidden; /* establish block formatting context as clearfix */
}

/* left panel: 70% width, float left, padding */
.left-panel {
  float: left;
  width: 70%;              
  padding: 1rem;           
  background-color: #f0f0f0;
}

/* right panel: 30% width, float right, padding */
.right-panel {
  float: right;
  width: 30%;              
  padding: 1rem;           
  background-color: #f0f0f0;
}


/* Full‐width header */
header {
    background: linear-gradient(to right, #eff2f5, #1435f3);
    color: #ffffff;
    text-align: center;
    font-size: 0.9rem;
    padding: 0.5rem 0;
}

/* Full‐width header */
footer {
    background: linear-gradient(to right, #e2e3ec, #2140f0);
    color: #ffffff;
    text-align: center;
    font-size: 0.7rem;
    padding: 1rem 0;
}

/* Blockquote styling */
blockquote {
    background-color: #f9f9f9;
    padding: 0.5rem;   
    border-left: 0.5rem solid #ccc;
    width: 90%;
    margin: 1rem auto;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
